.year {
  font-family: "Bebas Neue";
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: var(--primary-color);
}

.text {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: var(--primary-dark);
}